*~
*__pycache__*
*_ext*
*.bag

*.cu.o
*.DS_Store
*.ipynb_checkpoints
*.pkl
*.png
*.pth
*.pyc
*.tfevents*


.idea/
.vscode/
*.egg-info/
build/
ckpt/
ckpts/
data/
dist/
output/
results/
result_*/
wandb/

slurm_logs
