*~
*__pycache__*
**/__pycache__
*_ext*
*.bag
*.zip

*.cu.o
*.DS_Store
*.ipynb_checkpoints
*.pkl
*.png
*.pth
*.pyc
*.tfevents*

.idea/
.vscode/
*.egg-info/
build/
ckpt/
ckpts/
data/
data_ood/

dist/
output/
output*/
results/
result_*/
wandb/
output_de/
output_pu/
output_mc/
output_ood/

tmp_videos/


slurm_logs
